 <!--#include virtual="/mes-plan/include/header.html" -->
 <style type="text/css">
			.form-group1{margin-bottom:5px};
			.goods-item:after{content:".";display:block;height:0;clear:both;visibility:hidden}
	 
			li {text-align:left}
 </style>
<link rel="stylesheet" type="text/css" href="/mes-plan/static/mes-plan/css/plan.css"/>
<div class=" main_content warpper animated fadeInRight" style="overflow-x:hidden">
<div class="container-fluid panel-custom panel panel-default">
    <!-- 生产计划管理 -->
    <div class="row">
        <!-- 标题栏  -->
        <div class="col-sm-12">
            <h4 class="page-header">班组计划管理</h4>
        </div>
    </div>
    
    <!-- 快捷查询条件 -->
    <form id ="from_condition" class="form-horizontal" >
     <!-- 搜索 -->
     
     <table id="condition_tab" class='conditionTab'>
    		<tr>
    			<th>生产订单号</th><td>
					<input name='erpBillNo' type="text" class="form-control"/>
	             </td>
    			<th>计划开始日期(>=)</th><td>
					<div class="input-group date" id="planBeginDate1">
	                        <input type="text"  name="planBeginDate1" class="form-control">
	                        <span class="input-group-addon">
	                            <i class="glyphicon glyphicon-th"></i>
	                        </span>
	                    </div>
	             </td>
    			<th>计划开始日期(<=)</th><td>
    				<div class="input-group date" id="planBeginDate2">
	                        <input type="text"  name="planBeginDate2" class="form-control">
	                        <span class="input-group-addon">
	                            <i class="glyphicon glyphicon-th"></i>
	                        </span>
	                    </div>
    			</td>
    		</tr>
    		
    		<tr>
    			<th>车间订单号</th><td>
					<input name='billNo' type="text" class="form-control"/>
	             </td>
	             <th>半成品/成品</th><td>
    				<div class="input-group">
	                    	<input id="goodsId" name="goodsId" class="form-control"> 
	                    	<span class="input-group-btn">
					        <button class="btn btn-default" type="button" onclick="onClickGoods(true,1,PAGESIZE)"><span  class=" glyphicon glyphicon-zoom-in"></span></button>
					      	</span>
				      	 </div>
    			</td>
    			<th>调度单状态</th><td>
    				<select id="dispatchStatus" name='dispatchStatus' class="form-control">
                  <option value=""></option>
                  </select>
    			</td>
    		</tr>
    		
    		<tr>
    			<th>车间</th><td>
					<select id="workshopId" name="workshopId" class="form-control">
                   		<option value=""></option>
                   </select>
	             </td>
    			<th>工作中心</th><td>
    				<select id="workcenterId" name="workcenterId" class="form-control">
                   		<option value=""></option>
                   </select>
    			</td>
    		</tr>
    		
    		<tr>
    			
    			
    		</tr>
    </table>
       <div  class='conditionBtn' style="padding-bottom:10px">
           <button class="btn btn-primary" onclick="searchOrder(true,1,PAGESIZE);return false;"><span class="glyphicon glyphicon-search"></span>查询</button>
           <button class="btn" type="reset" onclick="$('#dispatchStatus').val('').trigger('change'); return true;"><span class="glyphicon glyphicon-erase"></span>清空</button>
       </div>
    </form>
    
    <div class="panel-default">
		  <div class="panel-heading" style="padding:10px">
		  	<strong>车间订单列表(点击详情查看班组计划)</strong>
		  		<!-- <a class="btn btn-success" href='/mes-plan/production/production_plan_import.html'><span class="glyphicon glyphicon-import"></span>导入Excel计划</a>
                <a class="btn btn-success" href='/mes-plan/production/production_plan_add.html'><span class="glyphicon glyphicon-plus"></span>新增计划</a> -->
           </div>
           <div id="detailTab">
		  <script id="detailTab.tmp" type="text/html" >
            <table id="tab_det" style="margin-top:-1px"  class="table  table-hover table-condensed table-bordered">
                <thead>
                    <tr>
						<th class='thcls'>车间订单</th>
						<th class='thcls'>车间</th>
						<th class='thcls'>工作中心</th>
                        <th class='thcls'>设备</th>
                        <th class='thcls'>数量</th>
                        <th class='thcls'>班次信息</th>
                        <th class='thcls'>计划日期</th>
						<th class='thcls'>调度人</th>
                        <th class='thcls'>操作</th>
                    </tr>
                </thead>
                <tbody>
						{{each list listValue}}
				<tr>
					<td>  
						<ul>
						<li>
							<a onclick="return false;" href="/mes-plan/production/mes_plan_device.html?id={{listValue.id}}"></a>{{listValue.billNo}}
						</li>
						<li>
							{{listValue.goodsName||listValue.goodsId}}
						</li>
						<li>
							{{listValue.dispatchStatus|getDdwName dispatch_order_status}}
						</li>
						</ul>  
					</td>
					<td>{{listValue.workshopId|getDdwName workshopList}}</td> 
					<td>{{listValue.workcenterId|getDdwName workcenterList}}</td> 
                 	
                 	<td style="text-align:center"> 
{{if listValue.workshopId != $imports.workshop3}} 
						<ul>
						<li>共{{listValue.deviceQty+listValue.deviceChangeQty}}台</li>
						<li>其中换产品{{listValue.deviceChangeQty||0}}台</li>
						<li>{{if listValue.deviceChangeGoodsId}}换产品{{listValue.deviceChangeGoodsId}}{{/if}}</li>
						</ul>
{{/if}}
					</td>
                 	<td> <ul><li> 车间调度:{{listValue.dispatchQty||0}}{{listValue.qtyUnit}}</li>
								<li>车间已调度:{{listValue.workCenterQty||0}}{{listValue.qtyUnit}}</li>
								<li>完工:{{listValue.finishQty||0}}{{listValue.qtyUnit}}</li></ul> </td>
                 	
                 	<td> 
						{{if listValue.workshopId == $imports.workshop3}} 
							<ul>
								<li>班次: {{listValue.shiftId|getMdmName shiftIdList}}</li>
								<li>班别: {{listValue.shiftStyle|getMdmName shiftStyleList}}</li>
								<li>子工序: {{listValue.arrangeGroup|getMdmName arrangeGroupList}}</li>
							</ul>
						{{/if}}
					 </td>
                 	<td>  <ul><li>{{listValue.planBeginDate}}</li><li>{{listValue.planEndDate}}</li></ul> </td>
					<td>
						<ul>
						<li>
							{{listValue.createUserName||listValue.createUser}} 
						</li>
						<li>
							{{listValue.createTime}} 
						</li>
						</ul>
					 </td>
                 	<td>  <ul>
								<li style="height:30px"><a href="/mes-plan/production/mes_plan_device_parallel.html?id={{listValue.id}}" style="font-size:16px">详情</a></li>
						</ul>
					</td>
                 </tr>
						{{/each}}

                 
                </tbody>
            </table>
     		
			</script>
		</div>
    
     </div>
    <!--  查询生成表单-->
    <div class="row">
        
      </div>
    </div>
    </div>
 </body>
 
 <script type="text/javascript" src="/mes-plan/static/art-template/template-web.js"></script>
 <script type="text/javascript" src="/mes-plan/static/mes-plan/js/mes_plan_device_list.js"></script>
 <link rel="stylesheet" type="text/css" href="/mes-plan/static/select2/select2.min.css">
 <script type="text/javascript" src="/mes-plan/static/select2/select2.full.min.js"></script>
</html>