@CHARSET "UTF-8";
/*基本信息*/
     #tab1 {
			 	border:1px solid #999999;
			 	border-collapse:collapse;
			    margin:0 auto;
			    border-spacing:0px;
			   
			 }
             #tab1  tr  td{
             	border:1px solid #999999 ;
             	padding:4px;
             	min-width:80px;
             	text-align: center;
             	height:34px;
             	}
/* 计划详情 */
    #tab1 {border:1px solid #999999;border-collapse:collapse}
    .td{border:1px solid #999999 ;padding:4px;min-width:80px}

/*进度条*/
       .progress{
			  height: 25px;
			  background: #262626;
			  padding: 5px;
			  overflow: visible;
			  border-radius: 20px;
			  border-top: 1px solid #000;
			  border-bottom: 1px solid #7992a8;
			  margin-top: 45px;
		  }
		  .progress .progress-bar{
			  border-radius: 20px;
			  position: relative;
			  animation: animate-positive 2s;
		  }
		  .progress .progress-value{
			  display: block;
			  padding: 3px 7px;
			  font-size: 13px;
			  color: #fff;
			  border-radius: 4px;
			  background: #191919;
			  border: 1px solid #000;
			  position: absolute;
			  top: -40px;
			  right: -10px;
		  }
		  .progress .progress-value:after{
			  content: "";
			  border-top: 10px solid #191919;
			  border-left: 10px solid transparent;
			  border-right: 10px solid transparent;
			  position: absolute;
			  bottom: -6px;
			  left: 26%;
		  }
		  /*.progress-bar.active{
			  animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
		  }*/
		  @-webkit-keyframes animate-positive{
			  0% { width: 0; }
		  }
		  @keyframes animate-positive{
			  0% { width: 0; }
		  }
		  .l_label{
		  	width:10%;padding-left:30px;padding-top:20px
		  }
		  
/*/进度路线*/
.time_line_box{
		        position: relative;
		        height: 60px;
		        overflow: hidden;
				margin: 0 auto;
				margin-left:25px;
		    }
		    .time_line{
		        position: absolute;
				z-index: 1;
				left: 0;
				top: 49px;
				height: 3px;
				background: #dfdfdf;
				-webkit-transition: -webkit-transform 0.4s;
				-moz-transition: -moz-transform 0.4s;
				transition: transform 0.4s;
				}
		    .order_item{
		        position: absolute;
				bottom: 0;
				z-index: 2;
				text-align: center;
				font-size: 13px;
				padding-bottom: 15px;
				color: #825FFB;
				}
		    .order_item:after{
		        content: '';
				position: absolute;
				left: 50%;
				right: auto;
				transform: translateX(-50%);
				bottom: -6px;
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: 2px solid #dfdfdf;
				background-color: #f8f8f8;
				}
		    .selected:after{
		        background-color: #249730;
				border-color: #249730;
				}
		    .filling_line{
		        position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background-color: #249730;
				transform-origin: left center;
				transition-property: transform;
				transition-duration: 0.3s;
				transition-timing-function: initial;
				transition-delay: initial;
				}
		    .time_tip{
		        width: 100%;
		        height: 100px;
		        line-height: 70px;
		        text-align: center;
		        color: #151BFD;
		        border-bottom: 1px solid #ddd;
		    }
			a:hover{text-decoration:none}
			ol{list-style-type:none}
	
	/*工艺路线*/
	.comment_bubble {
		    width: 140px;
		    height: 100px;
		    background: #d8ddeb;
		    position: relative;
			margin: 0 auto;
		}
		.comment_bubble:before {
		    content: "";
		    width: 0;
		    height: 0;
		    position: absolute;
		    border-top: 50px solid transparent;
		    border-left: 25px solid white;
		    border-bottom: 50px solid transparent;
		}  
		.comment_bubble:after {
		    content: "";
		    width: 0;
		    height: 0;
			left:100%;
		    position: absolute;
		    border-top: 50px solid transparent;
		    border-left: 25px solid #d8ddeb;
		    border-bottom: 50px solid transparent;
			z-index:10;
		}  
		 .comment_bubble_last {
		    width: 135px;
		    height: 100px;
		    background: #d8ddeb;
		    position: relative;
			margin: 0 auto;
		}
		
		.comment_bubble_last:before {
		    content: "";
		    width: 0;
		    height: 0;
		    position: absolute;
		    border-top: 50px solid transparent;
		    border-left: 25px solid white;
		    border-bottom: 50px solid transparent;
		}  
		.comment_bubble_first {
		    width: 130px;
		    height: 100px;
		    background: #b1d2b4;
		    position: relative;
			margin: 0 auto;
		} 
		.comment_bubble_first:after {
		    content: "";
		    width: 0;
		    height: 0;
			left:100%;
		    position: absolute;
		    border-top: 50px solid transparent;
		    border-left: 25px solid #b1d2b4;
		    border-bottom: 50px solid transparent;
			z-index:10;
		}  
		.lable1 {text-align:center}
		.lable2 {margin-top:5px;margin-left:50px;float:left}