<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="plan-app"  />

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="${zookeeper.service}" register="false"  check="false" />

    <!-- 用dubbo协议在20880端口暴露服务     host="192.168.2.242"   host="${zookeeper.server.host}" -->
    <dubbo:protocol name="dubbo" port="22858"/>

    <!-- 声明需要暴露的服务接口 -->
    <!-- <dubbo:service interface="com.bmsmart.mes.mesDemo.export.TestServiceExport" ref="testServiceExport" /> -->

    <!-- 和本地bean一样实现服务 -->
   <!--  <bean id="testServiceExport" class="com.bmsmart.mes.mesDemo.service.export.TestServiceExportImpl" >
        <property name="demoTestDao" ref="demoTestDao"/>
    </bean> -->
    
 	<dubbo:service interface="com.bmsmart.mes.plan.export.PlanTaskGetProvider" ref="planTaskGetExport" />
    <bean id="planTaskGetExport" class="com.bmsmart.mes.plan.service.impl.PlanTaskGetProviderImpl" >
    </bean>
     <dubbo:service interface="com.bmsmart.mes.plan.export.PlanTaskGainProvider" ref="planTaskGainExport" />
    <bean id="planTaskGainExport" class="com.bmsmart.mes.plan.service.impl.PlanTaskGainProviderImpl" >
    </bean>
     <dubbo:service interface="com.bmsmart.mes.plan.export.PlanWorkFinishedProvider" ref="planWorkFinishedExport" />
    <bean id="planWorkFinishedExport" class="com.bmsmart.mes.plan.service.impl.PlanWorkFinishedProviderImpl" >
    </bean>
     <dubbo:service interface="com.bmsmart.mes.plan.export.PlanMonthGetProvider" ref="planMonthGetExport" />
    <bean id="planMonthGetExport" class="com.bmsmart.mes.plan.service.impl.PlanMonthGetProviderImpl" >
    </bean>
    <dubbo:service interface="com.bmsmart.mes.plan.export.PlanShiftGetProvider" ref="planShiftGetExport" />
    <bean id="planShiftGetExport" class="com.bmsmart.mes.plan.service.impl.PlanShiftGetProviderImpl" >
    </bean>
    <dubbo:service interface="com.bmsmart.mes.plan.export.PlanMaterialUseProvider" ref="planMaterialUseExport" />
    <bean id="planMaterialUseExport" class="com.bmsmart.mes.plan.service.impl.PlanMaterialUseProviderImpl" >
    </bean>
    
    <dubbo:service interface="com.bmsmart.mes.plan.export.MesPlanTempTaskProvider" ref="mesPlanTempTaskExport" />
    <bean id="mesPlanTempTaskExport" class="com.bmsmart.mes.plan.service.impl.MesPlanTempTaskProviderImpl" >
    </bean>
    
</beans>